<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Sethmr">Seth Rininger</a>. A primarily Front-End Developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Currently, Seth works full time at <a target="_blank" href="https://www.vimvest.com">Vimvest</a> as their Lead Front-End Developer & part time at <a target="_blank" href="hhttps://www.trilogyed.com">Trilogy Education Services</a> teaching web development. 
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <br />
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <h2 class="text-center">Seth Rininger</h2>
      <br />
      <p>
         Seth has experience with the entire front end stack, but doesn't limit himself to just development. Seth has done video editing, designed apps from scratch, built homes from their foundation up, and worked in salesman/customer service positions. Seth can manage a team, bring results on a tight schedule, and is always available for the emergencies whose occurance this field guarentees.
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'family.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <br />
      <br />
      <br />
      <h2 class="text-center">Seth's Family</h2>
      <br />
      <p>
        Seth dedicates all his success to his wife and newborn daughter for more inspiration than he ever imagined possible.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />